<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MailEnable" type="MailEnable.CustomCounters.Program.Core.Configuration.MailEnableSection, MailEnable.CustomCounters.Program"/>
  </configSections>
  <MailEnable>
    <workers>
      <add name="RegistryWorker" poolingInterval="60" enabled="true" assembly="MailEnable.CustomCounters.Program.Workers.RegistryWorker, MailEnable.CustomCounters.Program"></add>
    </workers>
  </MailEnable>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>